.statistics {
  width: 300px;
  text-align: center;
  border: 2px black solid;
  box-shadow: 0 14px 28px
      rgba(0, 0, 0, 0.05),
    0 10px 10px rgba(0, 0, 0, 0.05);
}

.statistics .title {
  text-transform: uppercase;
}

.statisticsList {
  display: flex;
}

.statisticsItem {
  width: 60px;
  height: 60px;
  padding: 4px;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}
